# =========================
# Backend / Python Ignores
# =========================

# Raw datasets
data/raw/*
# Except the sample datasets
!data/raw/Reduced_Tacview-20250831-211257-DCS-Client-IQT-1 Checkride 1.csv
!data/raw/Tacview-20250831-211257-DCS-Client-IQT-1 Checkride 1.1 .zip.acmi

# Result files
data/results/*
# Except the sample result
!data/results/\[20250831\] IQT-1 Checkride 1/
!data/results/\[20250831\] IQT-1 Checkride 1/**

# Old files
data/reference/thresholds_db.json
backend/notebooks/Landing Rate_old.ipynb

# =========================
# Frontend / Node.js Ignores
# =========================
node_modules/
dist/
dist-ssr/
coverage/
.eslintcache
*.local

# Logs
logs
*.log
npm-debug.log*

# =========================
# Python / Environment
# =========================
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# uv specific
.uv/

# =========================
# Jupyter Notebooks
# =========================
.ipynb_checkpoints/

# =========================
# IDEs / Editors
# =========================
.vscode/
!.vscode/extensions.json
.idea/
.trae/
*.swp
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
